:root {
    --primary-color: #0d6efd;
    --secondary-color: #6c757d;
    --danger-color: #dc3545;
    --bg-primary-color: #2b3036;
    --bg-secondary-color: #212529;
    --text-primary-color: #dee2e6;
    --text-secondary-color: #afb3b7;
}

body {
    font-family: 'Inter', sans-serif;
    color: var(--text-primary-color);
    background-color: var(--bg-primary-color);
    margin: 0;
}

body .container {
    max-width: 800px;
    margin: 0 auto;
}

main {
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
    margin-bottom: .5rem;
}

a {
    color: var(--primary-color);
    text-decoration: none;
}

nav a {
    color: var(--text-secondary-color);
    text-decoration: none;
}

.router-link-active, .router-link-exact-active {
    color: var(--text-primary-color);
}

.top-bar {
    display: flex;
    justify-content: space-between;
    padding: 1.5rem;
    border-bottom: 2px solid var(--text-secondary-color);
}

.nav-links {
    display: flex;
    gap: 1rem;
}

.search-bar {
    display: flex;
    gap: 1rem;
}

.search-bar input {
    border: none;
    padding: 1rem;
    border-radius: 10px;
    font-size: 1rem;
    width: -webkit-fill-available;
}

.overview-heading {
    display: flex;
    justify-content: space-between;
}

.overview-heading h1 {
    margin: 0;
}

.overview-heading select {
    border: none;
    padding: .5rem;
    border-radius: 10px;
    font-size: .9rem;
}

.overview-heading button {
    border: none;
    padding: .65rem .75rem;
    margin-left: 1rem;
    border-radius: 10px;
    font-size: .9rem;
    color: var(--text-primary-color);
}

.book-cards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 1rem;
}

.book-card {
    background-color: var(--bg-secondary-color);
    border-radius: 10px;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.book-card button {
    border: none;
    padding: .25rem;
    border-radius: 10px;
    font-size: .9rem;
    color: var(--text-primary-color);
    margin-top: 1rem;
}

.add-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-secondary-color);
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
}

.add-book button {
    border: none;
    padding: .65rem .75rem;
    border-radius: 10px;
    font-size: .9rem;
    color: var(--text-primary-color);
}

.form-group {
    display: flex;
    flex-direction: column;
    gap: .5rem;
    margin-bottom: 1rem;
}

.form-group input {
    border: none;
    padding: .5rem;
    border-radius: 10px;
    font-size: 1rem;
}

.form-group select {
    border: none;
    padding: .5rem;
    border-radius: 10px;
    font-size: 1rem;
}

.top, .bottom {
    display: flex;
    flex-wrap: wrap;
}

.top .form-group, .bottom .form-group{
    flex: 1;
    margin-right: 1rem;
}

.edit-book {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: var(--bg-secondary-color);
    border-radius: 10px;
    padding: 1rem;
    gap: 1rem;
}

.edit-book button {
    border: none;
    padding: .65rem .75rem;
    border-radius: 10px;
    font-size: .9rem;
    color: var(--text-primary-color);
}

.primaryBtn {
    background-color: var(--primary-color)!important;
}

.secondaryBtn {
    background-color: var(--secondary-color)!important;
}

.deleteBtn {
    background-color: var(--danger-color)!important;
}